@model _001DemoCoreMVC.Models.Emp
<html>
    <head>
        <title>Edit Record</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    </head>
    <body>
      <form action="/Home/AfterEdit"  method="post">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="No" value="@Model.No" />
                        </td>
                    </tr>

                    <tr>
                        <td>Name</td>
                        <td>
                            <input type="text" name="Name" value="@Model.Name" />
                        </td>
                    </tr>

                    <tr>
                        <td>Address</td>
                        <td>
                            <input type="text" name="Address" value="@Model.Address" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Update Record" name="btnUpdateRecord" />
                        </td>
                    </tr>

                  @*   <tr>
                        <td colspan="2">
                            <input type="text" name="DeptName" />
                        </td>
                    </tr> *@
                </table>
            </div>
        </div>
      </form>
    </body>
</html>