@model _001DemoCoreMVC.Models.Emp

<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <h1>Demo MVC</h1>
        <h1>Welcome  @Model.Name from @Model.Address</h1>
    </body>
</html>